# main.tf
source/bastionhost.sh

# 모든 .terraform 디렉토리 무시
**.terraform/

# 특정 Terraform 상태 파일과 락 파일 무시
*.tfstate
*.tfstate.*
.tfstate.lock.info
.terraform.lock.hcl

.source/lambda_collector